<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="masegi.sho.classtable">

    <application
        android:name=".kotlin.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".presentation.views.main.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".presentation.views.detail.DetailActivity" />
        <activity android:name=".presentation.views.editlesson.EditLessonActivity" />
        <activity android:name=".presentation.views.edittime.EditTimeActivity" />
        <activity android:name=".presentation.views.setting.SettingActivity" />
        <activity android:name=".presentation.views.editmemo.EditMemoActivity" />
        <activity android:name=".presentation.views.todolist.TodoListActivity" />
        <activity android:name=".presentation.views.edittask.EditTaskActivity" />
        <activity android:name=".presentation.views.edittable.EditTableActivity"></activity>
    </application>

</manifest>